<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routes</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/routes.css">
</head>

<body>

<!-- Nav -->
<header>
    <div class="logo">LOGO</div>
    <nav>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ROUTES</a></li>
            <li><a href="#">GROUPS</a></li>
            <li><a href="#">ABOUT</a></li>
            <li class="sub-menu"><a href="#"><i class="fa fa-user-circle-o user-logo" aria-hidden="true"></i></a>
                <ul>
                    <li><a href="/climbers/myprofile">My profile</a></li>
                    <li><a href="/logout">Log out</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
</header>

<!-- Content -->
<div class="searchContainer">
    <div class="search-bar">
        <div class="select-box">
            <label for="climbing-type">Climbing type:</label>
            <select name="climbing-type" id="climbing-type" class="select-field">
                <option value=""></option>
            </select>
        </div>
        <div class="select-box">
            <label for="location-country">Country:</label>
            <select name="location-country" id="location-country" class="select-field">
                <option value=""></option>
            </select>
        </div>
        <div class="select-box">
            <label for="location-state">State:</label>
            <select name="location-state" id="location-state" class="select-field">
                <option value=""></option>
            </select>
        </div>
    </div>
</div>
    <form action="/climbers/addProject" class="group-form-popup" id="group-form-popup" method="post">
    <label for="project-date">When do you want to go?</label>
    <input type="date" id="project-date" class="input" name="Date" />
    <label for="project-time">What time?</label>
    <input type="time" id="project-time" class="input" name="Time" />
    <div class="buttons-container">
    <button class="btn" onclick="hidePopUp()">Cancel</button>

    <input type="submit" class="btn" value="Confirm" />
    </div>
    </form>

<div class="contentContainer">
    <div class="left-container">
    <% for(let i = 0; i < routes.length; i++) { %>

        <div onclick="selectRoute('<%= routes[i].RID %>')" class="routes-box" data-LocationCountry="<%= routes[i].LocationCountry %>"
             data-Type="<%= routes[i].Type %>" data-LocationState="<%= routes[i].LocationState %>">
            <p><strong><%= routes[i].Name %></strong></p>
            <p><%= routes[i].Description %></p>
            <div class="route-img"><%= routes[i].picture1 %></div>
            <div class="route-info-container" id="route-info-container-mobile">
                <div class="route-info">

                </div>
            </div>
        </div>
    <% } %>
    </div>

<div class="right-container">
    <% for(let i = 0; i < routes.length; i++) { %>
    <div class="route-info-container" id="<%= routes[i].RID %>">
        <div class="route-info-img">
            <% if(routes[i].picture1 === null) {%>
                <img src="/img/image-not-found.png" alt="">
                <% } else { %>
            <img src="/uploads/<%= routes[i].picture1 %>" alt=""></div>
        <% } %>
        <div class="route-info">
            <h2><%= routes[i].LocationCountry %>, <%= routes[i].LocationMountain %></h2>
        </div>
        <button class="btn" onclick="showPopUp('<%= routes[i].RID %>')">Go there</button>
    </div>
        <% } %>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/js/navbar.js"></script>
<script>
    let routes = <%- routesJSON %>
</script>
<script src="/js/routes.js"></script>
</body>

</html>